{% extends 'Admin/PrivilegeUser/privileged_user_base.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">View</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-sm-5">User</div>
                <div class="col-sm-7">{{ privileged_user.user.email|default:"-" }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs nav-lang mb-4">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'privileged-user-list' %}" aria-expanded="true">
                                    <span class="lang-name">Back to list</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'privilege-message-list' privileged_user.id %}" aria-expanded="true">
                                    <span class="lang-name">Messages</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
