{% extends 'Admin/PrivilegeUser/privileged_user_base.html' %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">View</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="row form-group">
                <div class="col-sm-5">User</div>
                <div class="col-sm-7">{{ privileged_user.user.email|default:"-" }}</div>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-info" href="{% url 'privileged-user-list' %}">Back to list</a>
{% endblock %}
