{% extends 'Public/public_base.html' %}

{% load static hosts %}

{% block home-menu-navbar %} active {% endblock %}

{% block content %}
    <div class="starter-template">
        <h1>This is your daily dose of jokes!</h1>
        <p class="lead">Go to the all jokes and enjoy it!</p>
        <button class="btn btn-success" id="getRandomButton" data-url="{% host_url 'api-v1:jokes-get-random' host 'api' %}">
            Get random joke
        </button>
        <div class="d-flex justify-content-center">
            <img class="mb-4" src="{% static 'images/public/home_icon.jpg' %}" alt="" width="500" height="500">
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/public/get-random-joke.js' %}"></script>
{% endblock %}
