{% extends 'Admin/Joke/joke_base.html' %}
{% load django_tables2 %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item active">Top</li>
{% endblock %}

{% block content %}
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">{{ table.title }}</div>
            <a type="button" class="btn btn-success" href="{% url 'jokes-list' %}">Back to list</a>
        </div>
    </div>
    {% render_table table.body %}
{% endblock %}
