{% extends 'Admin/Joke/joke_base.html' %}
{% load django_tables2 %}

{% block content %}
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">{{ table.title }}</div>
            <div>
                <a type="button" class="btn btn-success" href="{% url 'jokes-add' %}">Add</a>
                <a type="button" class="btn btn-success" href="{% url 'jokes-top-list' %}">Top lists</a>
                <a type="button" class="btn btn-success" href="{% url 'jokes-export' %}">Export liked</a>
            </div>
        </div>
    </div>
    {% include 'base_filter_form.html' with filter=filter %}
    {% render_table table.body %}
{% endblock %}
