<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Joker Panel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/admin/dashboard.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Menu</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'admin-logout' %}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% block home-menu-active %}{% endblock %}" href="{% url 'admin-home' %}">
                            <i class="fa-sharp fa-solid fa-house fa-lg"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block jokes-menu-active %}{% endblock %}" href="{% url 'jokes-list' %}">
                            <i class="fa-regular fa-face-grin-tongue-wink fa-lg"></i> Jokes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block users-menu-active %}{% endblock %}" href="{% url 'users-list' %}">
                            <i class="fa-solid fa-user-secret fa-lg"></i> Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block privilege-user-menu-active %}{% endblock %}"
                           href="{% url 'privileged-user-list' %}">
                            <i class="fa-sharp fa-solid fa-star fa-lg"></i> Privileged users
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h1 class="mt-4">
                {% block head-label %}
                {% endblock %}
            </h1>

            <ol class="breadcrumb mb-4">
                {% block breadcrumbs %}
                {% endblock %}
            </ol>

            {% include 'base_messages.html' %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.min.js' %}"></script>

<script src="{% static 'js/admin/scripts.js' %}"></script>

{% block extrajs %}
{% endblock %}

</body>
</html>
